KITE_API_KEY=your_api_key_here
KITE_API_SECRET=your_api_secret_here
PAPER_MODE=True
ACTIVE_INDEX=NIFTY
TRADING_CAPITAL=200000
RISK_PER_TRADE_PCT=0.02
STOP_LOSS_PCT=0.03
TARGET_PCT=0.09
TRAILING_SL_PCT=0.03
DAILY_LOSS_LIMIT_PCT=0.05
MAX_OPEN_POSITIONS=2
MIN_CONDITIONS=4
RSI_PERIOD=14
RSI_OVERSOLD=45
RSI_OVERBOUGHT=55
VOLUME_SPIKE_MULT=1.5
FIB_PROXIMITY_PTS=25
VIX_MAX=20.0
PCR_MIN=0.6
PCR_MAX=1.5
MIN_PREMIUM=30
MAX_PREMIUM=500
NIFTY_LOT_SIZE=50
BANKNIFTY_LOT_SIZE=15
CANDLE_INTERVAL=15minute
TRADE_START=09:30
SIGNAL_START=10:00
TRADE_END=15:00
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=admin@12345
DATABASE_NAME=bth_local
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false